{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}

    <div id="mycontainer">
    <h2 id="banner">Login</h3>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <p id="id_create">
    	{% blocktrans %}If you have not created an account yet, then please&#160;
    	<a href="{{ signup_url }}"> sign up </a>&#160;first.{% endblocktrans %}
    </p>
    <div id="social">
    <a id="google_login" href="/accounts/google/login/?process=login&next=%2F">Login with Google</a>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>

    <a id="google_button" href="/accounts/google/login/?process=login&next=%2F"><img src="{% static 'account/images/logo.svg'  %}"/></a>
    
    </div>
{% endblock content %}

