{% extends "base.html" %}
{% load static %}
{% load allauth i18n socialaccount %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/signup.css' %}">
{% endblock %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div id="mycontainer">
    <h3 id="banner">Sign Up</h3>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <p id="id_login">
        {% blocktrans %}Already have an account? Then please&nbsp;<a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}

</div>
{% endblock content %}

