{% extends "base.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}


{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/register_done.css' %}">
{% endblock %}

{% block content %}

    <div id="success_wrapper">
    	<h1>Welcome {{ new_user.username }}</h1>
    	<p>Your account has been successfully created. Now you can <a href="{% url "account_login" %}">log in</a>.</p>
    </div>
{% endblock %}

