{% extends 'base.html' %}
{% load static %}

{% block title %}Room{% endblock %}
{% block includes %}
    <link href="{% static 'chatapp/room.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="message-container">
        {% for message in messages %}
            {% if request.user.username == message.username %}
                <div class="msg-wrapper" style="margin: 20px 0 0 auto">
            {% else %}
                <div class="msg-wrapper">
            {% endif %}
                    <div class="msg-info">
                        <p class="msg-user">{{ message.username }}</p>
                        <p class="msg-time">{{ message.date|date:'H:i:s' }}</p>
                    </div>
                    <p class="msg-text">{{ message.text }}</p>
                </div>
        {% endfor %}

    </div>

        <script>
            window.scrollTo(0,document.body.scrollHeight);
        </script>

    <div class="message-wrapper">
        <input class="message-input" type="text" placeholder="Write a message...">
    </div>

    <script>

        let message_input = document.getElementsByClassName('message-input')[0];
        let room = "{{ room_name }}";
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + room
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let container = document.querySelector('#message-container');
            let div = document.createElement('div');
            div.className = 'msg-wrapper';

            let info = document.createElement('div');
            info.className = 'msg-info';

            let user = document.createElement('p');
            user.className = 'msg-user';
            user.textContent = data.user;

            if (user.textContent === '{{ request.user.username }}') {
                div.style.margin = '20px 0 0 auto';
            }

            let now = new Date();
            let timestamp = now.toLocaleTimeString('en-US', { hour12: false });

            let time = document.createElement('p');
            time.className = 'msg-time';
            time.textContent = timestamp;

            info.appendChild(user);
            info.appendChild(time)

            let p = document.createElement('p');
            p.className = 'msg-text';
            p.textContent = data.message;

            div.appendChild(info);
            div.appendChild(p);
            container.appendChild(div);

            window.scrollTo(0,document.body.scrollHeight);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        message_input.focus();
        message_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                let msg = message_input.value;
                let res = {"message": msg, "user": "{{ request.user.username }}", "room": "{{ room_name }}"}
                chatSocket.send(JSON.stringify(res));
                message_input.value = '';
            }
        };
    </script>

    <img class="copy-url-img" alt="Copy URL" title="Copy URL" src="{% static 'chatapp/images/copy.png' %}">

    <a href="{% url 'room' random %}" target="_blank"><img class="add-img" title="Create Room" alt="Create Room" src="{% static 'chatapp/images/add_room.png' %}"></a>

    <script>
        let image = document.getElementsByClassName("copy-url-img")[0]
        image.addEventListener('click', () => {
            navigator.clipboard.writeText(window.location.href);
        })
    </script>
{% endblock content %}
