
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chatapp/images/message-logo.png' %}">
    {% block includes %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{% url 'index' %}" ><img src="{% static 'chatapp/images/message-logo.png' %}"></a>
            <h1>ChatSite</h1>
        </div>

        <div class="header-right">
            {% if request.user.is_authenticated %}
                <a href="{% url "logout" %}"><img alt="Logout" title="Logout" src="{% static 'chatapp/images/logout.png' %}"></a>
            {% else %}
                <a href="#"><img alt="Login" title="Login" src="{% static 'chatapp/images/login.png' %}"></a>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
