#message-container {
    margin: 100px 20px 70px 20px;
    padding: 0 75px 0 15px;

}

.message-wrapper {
    display: flex;
    height: 65px;
    background-color: #359081;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.message-wrapper input {
    width: 80%;
    height: 35px;
    font-size: 15px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

.message-wrapper input:focus {
    outline: none;
}

.add-img {
    position: fixed;
    bottom: 90px;
    right: 20px;
}

.msg-wrapper {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    background-color: #359081;
    min-height: 50px;
    border-radius: 5px;
    color: white;
    width: 50%;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: bold;
}

.msg-text {
    margin: 0 0 0 10px;
}

