.login-wrapper {
    width: 400px;
    margin: 200px auto;
    background-color: #359081;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
}

.login-wrapper h1 {
    margin: 0;
}

.login-form {
    width: 200px;
    margin: 0 auto;
}

