.register-wrapper {
  width: 685px;
  display: block;
  margin: 250px auto;
  padding: 0 0 5px 0;
  background-color: #359081;
  border-radius: 10px;

}

#banner {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  color: white;
  font-size: 30px;
}


.register-form {
    margin: 0 auto;
}

.register-form input[type="text"], input[type="password"] {
    width: 65%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.register-form input[type="submit"] {
  background-color: #202020;
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 65%;
  border-radius: 14px;
}

#login {
  display: flex;
  justify-content: center;
}
