#mycontainer {
  width: 685px;
  display: block;
  margin: 250px auto;
  background-color: #359081;
  border-radius: 10px;
}

#banner {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  color: white;
  font-size: 30px;
}

#social {
    width: 40%;
    display: block;
    margin: 0 auto;
}

#social h2 {
   display: none;
}

#id_create {
  display: flex;
  justify-content: center;
}

#mycontainer label {
  display: none;
}

#mycontainer #id_remember {
	display: none;
}

#mycontainer button {
  background-color: #202020;
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 65%;
  border-radius: 14px;
}

#mycontainer #id_login {
    width: 65%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#mycontainer #id_password {
    width: 65%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#mycontainer .helptext {
	display: none;
}

#mycontainer hr, ul {
	display: none;
}

#mycontainer #google_login {
  display: none;
  justify-content: center;
}

#google_button {
  display: flex;
  justify-content: center;
  padding: 0 0 15px 0;
}
