#mycontainer {
  width: 685px;
  display: block;
  margin: 250px auto;
  background-color: #359081;
}

#mycontainer hr {
   display: none;
}

#mycontainer #banner {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: white;
    font-size: 30px;
}

#mycontainer form ul,label {
  display: none;
}

#mycontainer form input {
    width: 65%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#mycontainer form button {
  background-color: #202020;
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 65%;
  border-radius: 14px;
}

#id_login {
  display: flex;
  justify-content: center;
}

